/***********
* Header  *
***********/

.header{
  padding: 20px 0;
  overflow: auto;  
}
.header img{
    width: 10vw;
    float: right;
    border-radius: 50%;
    margin: auto 20px;
}
.header a{
    color: #ffaa07;
    text-decoration: none;
    margin: 20px;
}

/* ****************
* Navigation menu *
*******************/
.navigation{
    background: #000;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
li {
    display: inline;
    float: left;
}
li a{
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color:#000;
    color: #ffaa07;

}

li a:hover{
    background-color: #ffaa07;
    color: #000;
}

/*********
* Body  *
*********/
.body{
     background-color:#acaca4;
}

.header, .footer{
  background-color:#383839;
  overflow: auto;
  color: #ffaa07;
}
.section{
  margin-top: 80px;
  margin-bottom:10px;
  background-color:#f0c282;
  border-radius:1em;
  color:#633517;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}